<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @quiz.genre %>
</p>

<p>
  <strong>Sub genre:</strong>
  <%= @quiz.sub_genre %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
