<!DOCTYPE html>
<html>
  <head>
    <title>QuizApplication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table>
      <tbody>
        <tr>

          <td>
            Welcome <%=session[:user_name]%>
            <%= yield %>
          </td>

          <td>
            <img src="assets/brain.jpg", alt = ""  />
          </td>
          
        </tr>
      </tbody>
    </table>

  </body>
</html>
